  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{body}}

          <div class="table-responsive">
            <table ng-table="tableParams" class="table table-condensed table-striped table-hover no-padding table-slim" show-filter="false" show="true">              
                <tr ng-repeat="prj in $data">
                  <td title="'Obra'" filter="{ Obra: 'text'}" sortable="'prj.name'">
                          {{prj.full_name || 'total' | titleCase }}</td>
                  <td title="'Fecha Inicio'" filter="{ Obra: 'text'}" sortable="'prj.start_date'">
                          {{prj.start_date || '' | dateToISO | date : 'dd/MMM/yyyy' }}</td>
                  <td title="'Importe'" filter="{ start_date: 'text'}" sortable="'prj.income'" align="right">
                          {{prj.income | currency : "$" : 2}}</td>
                </tr>
            </table>
          </div><!-- table-responsive -->
        </div>
        <!-- <div class="modal-footer">
          <button type="button" ng-click="close(false)" class="btn btn-primary" data-dismiss="modal">No</button>
          <button type="button" ng-click="close(true)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div> -->
      </div>
    </div>
  </div>